.backCont{
    background-color: #7B68EE;
    background-size: cover;
    margin-bottom: 0;
    overflow: hidden;
    justify-content: center;
    height: 100vh;
    display: flex;
    flex-direction: column; 
    
}
h2{
    color: white;
    margin-left: 200px;
}